<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="jdbc.properties"/>   <!-- 引入数据库的资源文件 -->
	<!--  也可以用这种配置引入数据库
	<properties>
		<property name="jdbc.driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="jdbc.url" value="jdbc:mysql://localhost:3306/db_mybatis"/>
		<property name="jdbc.username" value="root"/>
		<property name="jdbc.password" value="lcp8090"/>
	</properties>
	 -->
	 
	 <!-- 类型别名。把后面的类取个别名叫student，以后在其他地方直接使用这个别名 
	<typeAliases>   
		<typeAlias alias="Student" type="com.java.model.Student"/>
	</typeAliases>
	 -->
	<typeAliases>
		<package name="com.java.model"/>  <!-- 按类的名字取类取别名 -->
	</typeAliases>
	
	<environments default="development">
		<environment id="development">  <!-- 开发环境 ，测试环境-->
			<transactionManager type="JDBC" /><!-- 事务管理 ：支持JDBC和MANAGED（托管）-->
			<dataSource type="POOLED"><!-- 数据源用的是连接池 -->
				<property name="driver" value="${jdbc.driverClassName}" />  <!-- jdbc.properties这里面的取值 -->
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment> 
	</environments>
	<mappers>  <!-- 映射器 -->
		<!--  <mapper resource="com/java/mappers/StudentMapper.xml" /> -->
		<!-- <mapper class="com.java.mappers.StudentMapper" />  找接口文件（类） -->
		<package name="com.java.mappers"/> <!-- 扫描所有类的映射文件 -->
	</mappers>
</configuration>
